:root {
    --color-turquoise: #51A3A3;
    --color-vert: #5F7A69;
    --color-green: #C3E991;
    --color-black: #75485E;
}

@font-face {
    font-family: 'robotomedium';
    src: url('roboto-medium-webfont.woff2') format('woff2'),
        url('roboto-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: medium;
}

@font-face {
    font-family: 'robotomedium_italic';
    src: url('roboto-mediumitalic-webfont.woff2') format('woff2'),
        url('roboto-mediumitalic-webfont.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'robotoregular';
    src: url('roboto-regular-webfont.woff2') format('woff2'),
        url('roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'robotoregular', sans-serif;
    background-color: var(--color-black);
    border: 0;
    padding: 0;
    margin: 0;
    color: #000000;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    background-color: var(--color-turquoise);
    width: 100%;
    padding: 3.125rem 0;
}

footer, header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    background-color: var(--color-black);
    color: white;
    width: 100%;
    max-height: 1rem;
    padding: 4rem 0;
}

h1 {
    font-family: 'robotomedium_italic', serif;
    font-style: italic;
    padding: 0;
    margin: 0;
    color: #ffffff;
}

h3 {
    border-bottom: #29524A solid 2px;
    font-family: 'robotomedium', sans-serif;
}

.text-container {
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-green);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 5px 2px 5px var(--color-vert);
}

p {
    margin: 0.5rem;
}

::selection {
    background-color: var(--color-black);
    color: rgb(255, 255, 255);
}